{% extends 'home/base.html' %}
{% load static %}
{% load humanize %} <!---to display date in a natural time-->
{% load mptt_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="post-container">
                <div class="post-title">
                    <h1>{{ object.title | upper }}</h1>
                    {% if user.is_authenticated %}
                    <small>
                        <b>Last Updated:</b> {{ object.date }} | <b>Created By:</b> {{ object.author.first_name }}
                        {{ object.author.last_name }} |                         
                        {% if object.author.id == user.id %}
                        <a href="{% url 'discussion:edit_discussion_post' object.pk %}">(Edit)</a> |
                        <a href="{% url 'discussion:delete_discussion_post' object.pk %}">(Delete)</a>
                        {% endif %}
                    </small> <br> <br>
                    <p>
                        {{ object.content | safe }}
                    </p>
                    <hr>

                    <form action="{% url 'discussion:like_post' object.pk %}" method="post">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" class="btn btn-danger" name="post_id" value="{{ object.id }}">Unliked
                        </button> - {{ total_likes }} Likes
                        {% else %}
                        <button type="submit" class="btn btn-success" name="post_id" value="{{ object.id }}">Likes -
                            {{ total_likes }}</button>
                        {% endif %}
                    </form>
                    {% else %}
                    <div >
                        <small>
                            <b>Last Updated:</b> {{ object.date }} | <b>Created By:</b> {{ object.author.first_name }}
                            {{ object.author.last_name }}
                        </small> <br> <br>
                        <p>
                            {{ object.content | safe }}
                        </p>
                        <hr>
                        <small>
                            <a href="{% url 'login' %}">Login</a> to Like Posts, Comment and create a topic -
                            {{ total_likes }} Likes
                        </small>
                    </div>
                    {% endif %}
                </div>
<br><br>
                <div>

                    <div class="comment-form">                    
                        <h2>Make a new comment</h2>
                        <form id="myForm" method="POST" action="{% url 'discussion:add_comment' object.id %}">
                            {% csrf_token %}
                            {{ comment_form.as_p }}
                            {{ form.media }}
                            <button type="submit" class="btn btn-secondary">Add comment</button>
                        </form>
                    </div>

                    <br><br><br>
                    <h2>{{ total_comments }} Comment{{ total_comments|pluralize }}</h2> <hr>
                        <small>Discussion on: {{ object.title }}</small> <br>
                        <small>Scroll up if you can not find the reply box when clicked</small><hr>
                  
                    {% recursetree comments %} 
                            
                        <div id="{{node.id}}" class="parent-comment">  
                            <div class="d-flex">
                                <div class="p-2 flex-grow-1"><b>{{ node.user }}</b></div>
                                <div class="p-2"><small>{{ node.date }} ({{ node.date|naturaltime }})</small></div>
                            </div>                         
                            {{node.content|safe}}                                      
                            {% if node.level < 3 %}
                               <br> <button type="button" class="btn btn-primary" onclick="myFunction('{{ node.id }}')">Reply</button> 
                            {% endif %}
                        </div>  
                            <br>
                            
                                {% if not node.is_leaf_node %} 
                                     <div  class="children-comment"> 
                                        {{ children }} 
                                    </div>

                                {% endif %}
                               
                    {% endrecursetree %}
                    </div>
            
                    
                        <script>
                            function formExit() {
                                document.getElementById("newForm").remove();
                            }
                        
                            function myFunction(id) {
                                var existingForm = document.getElementById("newForm");
                                if (existingForm) {
                                    existingForm.remove();
                                }
                        
                                var reply = document.getElementById(id);
                                var formHTML = `
                                    <form id="newForm" method="POST" class="form-insert py-2" action="{% url 'discussion:add_comment' object.pk %}">
                                        <div class="d-flex">
                                            <div class="p-2 flex-grow-1"><h2>Reply</h2></div>
                                            <div class="p-2"><button type="button" class="btn btn-secondary btn-sm" onclick="formExit()">Close</button></div>
                                        </div>
                                        <select name="parent" class="d-none" id="id_parent">
                                            <option value="${id}" selected="${id}"></option>
                                        </select>
                                        <label for="id_content">Content:</label>
                                        <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea>
                                        {% csrf_token %}
                                        {{ form.media }} 
                                        <button type="submit" class="btn btn-secondary btn-sm">Submit Reply</button>
                                    </form>
                                `;
                        
                                var container = document.createElement('div');
                                container.innerHTML = formHTML;
                                container.classList.add('my-2', 'p-2', 'border', 'border-gray');
                        
                                reply.parentNode.insertBefore(container, reply);
                            }
                        </script>
                                                         
                       
                
                    <br><br>                    
                </div>

                <br><br>
                <a href="{% url 'discussion:discuss_list' %}" class="btn btn-primary">Back Discussed List</a><br><br>
            </div>
        </div>
    </div>
</div>

<style>
    .post-title {
        margin: auto;
        text-align: justify;
        max-width: 55rem;
        width: 100%;
    }

    

    .parent-comment{
        border: 1px solid gray;
        padding: 1.3rem;
        text-align: justify;
        
    }
    .children-comment {
        margin-left: 2rem;        
        text-align: justify;
    }

    .comment-form {
        margin-bottom: 20px; /* Add some spacing at the bottom */
    }

    /* Style the CKEditor textarea */
    .ckeditor-textarea {
        width: 100%; /* Set the width to 100% to fill the container */
        height: 200px; /* Set an initial height for the textarea */
        resize: vertical; /* Allow vertical resizing */
        box-sizing: border-box; /* Include padding and border in the total height */
    }

    /* Adjust the textarea height for different screen sizes */
    @media (max-width: 767px) {
        /* For screens smaller than 768px (e.g., mobile devices) */
        .ckeditor-textarea {
            height: 150px; /* Adjust the height for mobile screens */
        }
    }
</style>


{% endblock %}
