{% extends 'home/base.html' %}
{% load static %}
{% load humanize %}

{% block title %} MY TASKS {% endblock %}

{% block body %}
<div class="d-flex">
  <div class="p-2 w-100">
    <h1>MY TASKS</h1>
  </div>
  <div class="p-2 flex-shrink-1">
    <a href="{% url 'tasks:add_tasks' %}">
      <button>Create A New Task</button>
    </a>
  </div>
</div>
<br><br>

{% if user.is_authenticated %}
<table class="table table-success table-striped">
  <thead>
            <tr>
            <th>S/N</th>
            <th>Task Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Modify Tasks</th>
            </tr>
  </thead>

  <tbody>
        {% for task in tasks %}
        <tr>  
                <td>{{ forloop.counter }}</td>      
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.start_date }} <em>({{ task.start_date|naturaltime }}) </em>  </td>
                <td>{{ task.due_date }} <em> ({{ task.due_date |naturaltime }}) </em> </td>
                <td>
                    <select id="status_{{ task.id }}" class="task-status-select">
                    {% for choice in completed_choices %}
                    <option value="{{ choice.0 }}" {% if choice.0 == task.completed %}selected{% endif %}>{{ choice.1 }}</option>
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <a href="{% url 'tasks:edit_task' task.id %}">Edit</a>
                    <a href="{% url 'tasks:delete_task' task.id %}">Delete</a>
                </td>
        </tr>
        {% empty %}
                <tr>
                <td colspan="7">You have not added any tasks.</td>
                </tr>
        {% endfor %}
  </tbody>
</table>

<script>
            $(document).ready(function() {
            $(".task-status-select").change(function() {
                var taskId = $(this).attr("id").split("_")[1];
                var completed = $(this).val();
        
                $.ajax({
                type: "POST",
                url: "{% url 'tasks:complete_task' %}",
                data: {
                    task_id: taskId,
                    completed: completed,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function(response) {
                    if (response.success) {
                    console.log("Status updated successfully");
                    } else {
                    console.log("Failed to update status");
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log("Error updating status: " + errorThrown);
                },
                });
            });
            });
  </script>
  
<script src="{% static 'js/jquery.min.js' %}"></script>

    {% else %}
            <br><br>
            <div class="alert alert-danger" role="alert">
            <p><a href="{% url 'login' %}">LOGIN</a> to view tasks</p>
            </div>
    {% endif %}
{% endblock %}
