{% extends 'home/base.html' %} 
{% block title %}  Add A New Job Category {% endblock %}

{% block body %} 
{% if user.is_authenticated %}
    <h1>ADD A NEW JOB CATEGORY</h1><br> <br>

    <div class="form-group"> 
        <form method="POST">
            {% csrf_token %} 
            {{form.as_p}}
        
            <button class="btn btn-primary">Add Category</button>
        </form> <br><br>
    </div>
{% else %} 
<div class="alert alert-danger" role="alert">
    <p>You don't have the permission to access this page...</p>
    <a href="{% url 'login' %}">LOGIN</a>   
</div>
{% endif %}
{% endblock %}