{% extends 'home/base.html' %} 
{% block title %}  Add A Blog Category {% endblock %}

{% block body %} 
{% if user.is_authenticated %}
    <h1>ADD A NEW BLOG CATEGORY</h1><br> <br>

    <div class="form-group"> 
        <form method="POST">
            {% csrf_token %} 
            {{form.as_p}}
        
            <button class="btn btn-primary">Post</button>
        </form> <br><br>
    </div>
{% else %} 
    <h2>You don't have the permission to access this page...</h2>
{% endif %}
{% endblock %}