{% extends 'home/base.html' %} 
{% block title %} {{object.title}} {% endblock %} 

{% block body %} 
        <h1>{{object.title | upper}} </h1>
        {% if user.is_authenticated %}                         
                    <small>
                         Last Updated: {{object.date}} | Author: {{object.author}} |
                         Category: <a href="{% url 'index:category_list' object.category %}">{{object.category}}</a> |
               {% if object.author.id == user.id  %}
                         <a href="{% url 'index:edit_post' object.pk %}">(Edit)</a> |
                         <a href="{% url 'index:delete_post' object.pk %}">(Delete)</a>
               {% endif %}
                         </small> <br> <br>    
                         <p>
                              {{object.content | safe}}
                         </p>  <hr>

               <form action="{% url 'index:like_post' object.pk %}" method="post">
                    {% csrf_token %} 
                    {% if liked %}
                         <button type="submit"  class="btn btn-danger" name="post_id" value="{{object.id}}">Unliked </button> - {{total_likes}} Likes
                    {% else %} 
                         <button type="submit"  class="btn btn-success" name="post_id" value="{{object.id}}">Likes - {{total_likes}} </button>
                    {% endif %}
               </form> <br><br><br>            

          {% else %} 
               <small>
               Last Updated: {{object.date}} | Author: {{object.author}}               
               </small> <br> <br>    
               <p>
                    {{object.content | safe}}
               </p> <hr>
               <small><a  href="{% url 'login' %}">Login</a> to Like Posts - {{total_likes}} Likes </small> <br><br><br>

          {% endif %}

           <a href="{% url 'index:blog_list' %}" class="btn btn-primary">Back To Posts List</a><br><br>
{% endblock %}