{% extends 'home/base.html' %}
{% block title %} Blog Posts {% endblock %} 


{% block body %} 

    <h1>BLOG POSTS</h1> <br>
    
        <ol>
        {% for blog in object_list %} 
        <li>
           <h4><a href="{% url 'index:blog_details' blog.pk %}"> {{blog.title | upper}}</a></h4> 
           {% if user.is_authenticated %}
                <small>
                    Last Updated: {{blog.date}} | Author: {{blog.author}} | 
                    Category: <a href="{% url 'index:edit_post' blog.pk %}">{{blog.category}}</a> |
                    <a href="{% url 'index:edit_post' blog.pk %}">(Edit)</a> |
                    <a href="{% url 'index:delete_post' blog.pk %}">(Delete)</a>
                </small>    
                <p>
                        {{blog.content | truncatewords:"80" | safe}}
                </p>
        {% else %} 
                <small>
                    Last Updated: {{blog.date}} | Author: {{blog.author}} |                    
                </small>    
                <p>
                        {{blog.content | truncatewords:"80" | safe}}
                </p>
        {% endif %}
            
        </li>
            
        
        {% empty %} 
            <h2>No recent posts availabe at the moment....</h2>
        {% endfor %}
    </ol>

{% endblock %}
