{% extends 'home/base.html' %}
{% block title %} Blog Posts {% endblock %} 


{% block body %} 

    <h1>BLOG POSTS</h1> <br>
    
        <ol>
        {% for blog in object_list %} 
        <li>
           <h4><a href="{% url 'index:blog_details' blog.pk %}"> {{blog.title | upper}}</a></h4> 
           {% if user.is_authenticated %}
                <small>
                   <b>Last Updated:</b>  {{blog.date}} | <b>Author: </b> {{blog.author.first_name}} {{blog.author.last_name}} | 
                   <b>Category:</b>  <a href="{% url 'index:category_list' blog.category %}">{{blog.category}}</a> |
                {% if blog.author.id == user.id  %}
                    <a href="{% url 'index:edit_post' blog.pk %}">(Edit)</a> |
                    <a href="{% url 'index:delete_post' blog.pk %}">(Delete)</a>
                {% endif %}    
                </small>    
                <p> 
                        {{blog.content | truncatewords:"80" | safe}}
                </p>
        {% else %} 
                <small>
                   <b> Category:</b>  <a href="{% url 'index:category_list' blog.category %}">{{blog.category}}</a> |
                   <b>  Last Updated:</b> {{blog.date}} | <b>Author: </b>  {{blog.author.first_name}} {{blog.author.last_name}} |                    
                </small>    
                <p>
                        {{blog.content | truncatewords:"80" | safe}}
                </p>                
        {% endif %}
            
        </li> <br>
            
        
        {% empty %} 
            <h2>No recent posts availabe at the moment....</h2>
        {% endfor %}
    </ol>


{% endblock %}
