{% extends 'home/base.html' %} 
{% block title %}  Delete Post {% endblock %}

{% block body %} 
{% if user.is_authenticated %}
    <h1> DELETE BLOG POST</h1><br> <br>

    <h3><em>Delete: </em>  {{object.title}} </h3>
    <p>
        {{object.content | truncatewords:"80"}}
    </p>

    <div class="form-group"> 
        <form method="POST">
            {% csrf_token %}             
            <button class="btn btn-primary">Delete</button>
        </form> <br><br>
    </div>
{% else %} 
    <h3>You don't have the permission to access this page....</h3>

{% endif %}
{% endblock %}