{% extends 'home/base.html' %} 
{% block title %} Edit {{object.title}} {% endblock %}

{% block body %} 
{% if user.is_authenticated %}
    <h1> Edit {{object.title}} </h1><br> <br>
    {% if object.author.id == user.id  %}
            <div class="form-group"> 
                <form method="POST">
                    {% csrf_token %} 
                    {{form.as_p}}
                    {{form.media}}
                    <button class="btn btn-success"> Update </button>
                </form> <br><br>
            </div>
    {% else %} 
            <h3>You don't have the access to edit this post</h3> <br> <br>
            <a class="btn btn-primary" href="{% url 'index:blog_list' %}">View Blog Posts</a> 
            <a class="btn btn-primary" href="{% url 'index:job_list' %}">View Job Posts</a> <br><br><br>
    {% endif %}
{% else %} 
<div class="alert alert-danger" role="alert">
    <p>You don't have the permission to access this page...</p>
    <a href="{% url 'login' %}">LOGIN</a>   
</div><br>
    <a class="btn btn-primary" href="{% url 'index:home' %}">Go Home</a> <br><br><br>
{% endif %}
{% endblock %}