{% extends 'home/base.html' %}
{% load static %}
{% load humanize %}



{% block title %} Home {% endblock %}

<header>
    {% block slides %} 
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="80000">
            <img src="{% static '/images/tech.jpg' %}" class="d-block w-100" alt="header tech image">
            <div class="carousel-caption d-none d-md-block">
              <h5>Learn Modern Technologies</h5>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static '/images/network.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Network By Connecting With Quality People</h5>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static '/images/job.webp' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Get Job Updates</h5>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static '/images/buy.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Buy Digital and Physical Products</h5>
            </div>
          </div>

          <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static '/images/research.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Let's Help You With Your Research Work</h5>
            </div>
          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    {% endblock %}
</header>

{% block body %} 
        <div class="container text-center">
            <h1>Services</h1>
          <div class="row">
          <div class="col">
        <img src="{% static '/images/digital-prodct.jpg' %}" alt="Digital Product Image" srcset="" class="services-img">
        <h3>Digital Product</h3>
        <p style="text-align: justify;">
          The majority of our digital products are made available without charge. The premium and the free digital products 
          provide high-quality context that either addresses specific problems or raises awareness on issues that will improve 
          the quality of people's lives.
        </p>
        <div class="col">
      <img src="{% static '/images/web_security.png' %}" alt="Web Security Image" srcset="" class="services-img">
      <h3>Web Security</h3>
      <p style="text-align: justify;">
        We are a team of individuals who enjoy tackling technological problems by providing creative solutions. 
        Let's make it happen what you have in mind.
      </p>
    </div>
      </div>
      
      <div class="col">
        <img src="{% static '/images/job.webp' %}" alt="Job Search Image" srcset="" class="services-img">
        <h3>Job Posting</h3>
        <p style="text-align: justify;">
          We offer links to reputable job postings and help you improve the appearance of your cover letter, 
          reference letter, and other documents with high-quality content.
        </p>
        <div class="col">
      <img src="{% static '/images/web_security.png' %}" alt="Web Security Image" srcset="" class="services-img">
      <h3>Telecommunications</h3>
      <p style="text-align: justify;">
        Cheap and reliable internet connection, cable tv subscription, electricity payment,
        purchase of WAEC e-pin and bulk printing of airtime.
      </p>
    </div>
       

      </div>
      
    </div>


    

    <div class="container text-center">
        <h1>Recent Posts</h1>
        <div class="row">          
            <div class="col">                
                <ul>
                   {% for job in jobs  %} 
                   <li>
                        <h4> <a href="{% url 'jobs:job_details' job.pk %}"> {{job.title}} </a></h4>
                        <small>
                           <b>Last Updated: </b>  {{job.date}} ({{job.date | naturaltime}}) | <b> Job Posted By:</b>  {{job.author.first_name}}  {{job.author.last_name}}
                          |  <b> Job Location: </b> {{job.location}} |    <b>  Deadline:</b> {{job.deadline}}
                        </small><br>  
                        <p style="text-align: justify;"> {{job.content|safe | truncatewords:"30"}}  </p>                           
                   </li> <br>
                    {% empty %} 
                        <h4>No recent job post availabe right now...</h4>
                {% endfor %}
                </ul>               
           <a href="{% url 'jobs:job_list' %}"> <button class="btn btn-primary" ><small>View More Job Posts...</small></button></a> <br> <br>
          </div>

          <div class="col">                   
            <ul>
              {% for blog in blogs  %} 
              <li>
                   <h4><a href="{% url 'index:blog_details' blog.pk %}">{{blog.title}}</a></h4>
                   <small>
                      <b> Last Updated: </b>  {{blog.date}} ({{blog.date | naturaltime}}) |  <b> Post By:</b>  {{blog.author.first_name}}  {{blog.author.last_name}}
                   </small> <br>                  
                   <p style="text-align: justify;">{{blog.content| safe | truncatewords:"30"}} </p>
              </li> <br>
               {% empty %} 
                   <h2>No recent blog post availabe right now...</h2>
           {% endfor %}
           </ul>

            <br><a href="{% url 'index:blog_list' %}"><button class="btn btn-primary"><small>View More Blog Posts...</small></button></a> 
          </div>
          
        </div>   
      </div>


      <div class="container text-center">
        <h1>About</h1>
        <div class="row">
          
          <div class="col"><br><br>
            <p style="text-align: justify;">

              We are a team of people who appreciate taking on challenging and unattainable tasks and have a variety of skill sets.
             Let us assist you with designing, security, and managing your personal, portfolio, and company websites, 
             mobile applications, and web applications.
              
            </p>
            <p style="text-align: justify;">
              Additionally, We offer an extensive range of services, including the sale of digital products, telecommunications solutions 
              like the sale of internet access for all Nigerian networks, job posting services like writing Cvs or Resumes, 
              cover letters, reference letters, recruitment advice, business management for business owners, and much more. 
              Additionally, we relieve you of the burden associated with your academic and business research projects, such 
              as your final year project, school assignments (for all courses, departments, and levels), company plans, 
              feasibility analyses, business proposals, etc.
            </p>
          </div>
         
          <div class="col">
            <p style="text-align: justify;">
              <h5>Our Services Includes:</h5>
                <ul>
                  <li>Academic and Business Reserach Work</li> <br>
                  <li>Architectural Designs</li><br>
                  <li>Digital Products</li><br>
                   <li>Job Posting</li> <br>
                  <li> Project Management</li> <br>
                  <li>Sales of data bundles, airtime, cable Tv Suscription, Electricity payment</li> <br>
                  <li>Web Programming</li>
                </ul> <br>
            </p>
          </div>

        </div>
      </div>

      
      <div class="container text-center">
        <h1>Testimonies</h1>
        <div class="row">
          <div class="col">
            <div>
              <div>
                <img src="{% static '/images/hustle_img.jpg' %}" alt="Daniel image" srcset="" class="services-img">
              </div>
                <h5> Aderibigbe Daniel</h5>
              <p style="text-align: justify;">
                Delivering consistently on schedule, within budget, and with excellent interpersonal skills. 
                It is inspiring to work with him because of his ability to establish positive relationships with clients and 
                take on assignments independently.
              </p>
            </div>
            <div class="col">
            <div>
              <div>
                <img src="{% static '/images/tech.jpg' %}" alt="Tomilade image" srcset="" class="services-img">
              </div>
                <h5>Olugbemi Tomilade</h5>
              <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti unde culpa facilis, tenetur perspiciatis ipsam, 
                deserunt distinctio veniam autem illum qui id accusantium ipsum asperiores molestiae, fugit quas commodi repellat!
              </p>
            </div>
          </div>
          <div class="col">
            <div>
              <div>
                <img src="{% static '/images/tech.jpg' %}" alt="Tomilade image" srcset="" class="services-img">
              </div>
                <h5>Olugbemi Tomilade</h5>
              <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti unde culpa facilis, tenetur perspiciatis ipsam, 
                deserunt distinctio veniam autem illum qui id accusantium ipsum asperiores molestiae, fugit quas commodi repellat!
              </p>
            </div>
          </div>
          </div>

          <div class="col">
            <div>
              <div>
                <img src="{% static '/images/tech.jpg' %}" alt="Tomilade image" srcset="" class="services-img">
              </div>
                <h5>Adeshola Daniel</h5>
              <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti unde culpa facilis, tenetur perspiciatis ipsam, 
                deserunt distinctio veniam autem illum qui id accusantium ipsum asperiores molestiae, fugit quas commodi repellat!
              </p>
            </div>
            <div class="col">
            <div>
              <div>
                <img src="{% static '/images/tech.jpg' %}" alt="Tomilade image" srcset="" class="services-img">
              </div>
                <h5>Olugbemi Tomilade</h5>
              <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti unde culpa facilis, tenetur perspiciatis ipsam, 
                deserunt distinctio veniam autem illum qui id accusantium ipsum asperiores molestiae, fugit quas commodi repellat!
              </p>
            </div>
          </div>
          <div class="col">
            <div>
              <div>
                <img src="{% static '/images/tech.jpg' %}" alt="Tomilade image" srcset="" class="services-img">
              </div>
                <h5>Olugbemi Tomilade</h5>
              <p style="text-align: justify;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti unde culpa facilis, tenetur perspiciatis ipsam, 
                deserunt distinctio veniam autem illum qui id accusantium ipsum asperiores molestiae, fugit quas commodi repellat!
              </p>
            </div>
          </div>
          </div>
          
          </div>
              



         



    <style>
      .services-img{
          border-radius: 50%;
          width: 7rem;
          height: 7rem;
      }

      .recent-post-btn{
        color: white;
        text-decoration: none;
      }

      h1{
          margin-top: 1.5rem;
          text-transform: uppercase;
      }

      p{
        text-align: justify;
      }

      li{
        list-style-type: none;
        text-align: justify;
      }

     
      #btn{
        margin-bottom: 5rem;
      }
  
  </style>
{% endblock %}






